{
  "name": "reviewscout",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "wp-content/themes/dhm-parent/assets/sass/theme.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"wp-content/themes/dhm-parent/assets/css/theme.min.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "wp-content",
      "wp-content/themes",
      "wp-content/themes/dhm-parent",
      "wp-content/themes/dhm-parent/assets",
      "wp-content/themes/dhm-parent/assets/sass",
      "wp-content/themes/dhm-parent/assets/css",
      "wp-content/themes/dhm-parent/assets/sass/theme"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "wp-content/themes/dhm-child/assets/js/child-theme.js",
      "imports": [
        "wp-content/themes/dhm-parent/assets/js/theme.min.js"
      ]
    },
    {
      "path": "wp-content/themes/dhm-child/assets/js/child-theme.min.js",
      "imports": [
        "wp-content/themes/dhm-parent/assets/js/theme.min.js"
      ]
    },
    {
      "path": "wp-content/themes/dhm-child/assets/sass/child-theme.scss",
      "imports": [
        "wp-content/themes/dhm-parent/assets/sass/theme/_theme_variables.scss",
        "wp-content/themes/dhm-child/assets/sass/theme/_child_theme_variables.scss",
        "wp-content/themes/dhm-parent/assets/sass/assets/bootstrap.scss",
        "wp-content/themes/dhm-parent/assets/sass/theme/_theme.scss",
        "wp-content/themes/dhm-child/assets/sass/theme/_child_theme.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_functions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_variables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_mixins.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_root.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_reboot.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_type.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_images.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_containers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_tables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_transitions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_dropdown.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_button-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_nav.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_navbar.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_card.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_accordion.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_breadcrumb.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_badge.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_progress.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_close.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_toasts.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_modal.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_tooltip.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_popover.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_carousel.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_spinners.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_helpers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/utilities/_api.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/vendor/_rfs.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_deprecate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_breakpoints.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_color-scheme.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_image.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_resize.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_reset-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_text-truncate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_backdrop.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_caret.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_lists.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_table-variants.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_border-radius.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_box-shadow.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_gradients.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_transition.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_container.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-control.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-select.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-check.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-range.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_floating-labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_input-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_validation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_colored-links.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_ratio.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_position.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stacks.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stretched-link.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_text-truncation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_vr.scss"
      ]
    },
    {
      "path": "wp-content/themes/dhm-parent/assets/sass/theme.scss",
      "imports": [
        "wp-content/themes/dhm-parent/assets/sass/theme/_theme_variables.scss",
        "wp-content/themes/dhm-parent/assets/sass/assets/bootstrap.scss",
        "wp-content/themes/dhm-parent/assets/sass/theme/_theme.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_functions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_variables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_mixins.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_root.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_reboot.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_type.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_images.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_containers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_tables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_transitions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_dropdown.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_button-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_nav.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_navbar.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_card.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_accordion.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_breadcrumb.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_badge.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_progress.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_close.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_toasts.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_modal.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_tooltip.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_popover.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_carousel.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_spinners.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_helpers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/utilities/_api.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/vendor/_rfs.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_deprecate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_breakpoints.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_color-scheme.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_image.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_resize.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_reset-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_text-truncate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_backdrop.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_caret.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_lists.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_table-variants.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_border-radius.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_box-shadow.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_gradients.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_transition.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_container.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-control.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-select.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-check.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-range.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_floating-labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_input-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_validation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_colored-links.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_ratio.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_position.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stacks.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stretched-link.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_text-truncation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_vr.scss"
      ]
    },
    {
      "path": "wp-content/themes/dhm-parent/assets/sass/assets/bootstrap.scss",
      "imports": [
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_functions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_variables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_mixins.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_root.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_reboot.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_type.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_images.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_containers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_tables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_transitions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_dropdown.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_button-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_nav.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_navbar.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_card.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_accordion.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_breadcrumb.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_badge.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_progress.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_close.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_toasts.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_modal.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_tooltip.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_popover.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_carousel.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_spinners.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_helpers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/utilities/_api.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/vendor/_rfs.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_deprecate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_breakpoints.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_color-scheme.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_image.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_resize.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_reset-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_text-truncate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_backdrop.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_caret.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_lists.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_table-variants.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_border-radius.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_box-shadow.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_gradients.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_transition.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_container.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-control.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-select.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-check.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-range.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_floating-labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_input-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_validation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_colored-links.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_ratio.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_position.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stacks.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stretched-link.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_text-truncation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_vr.scss"
      ]
    },
    {
      "path": "wp-content/themes/dhm-parent/src/sass/bootstrap/bootstrap-grid.scss",
      "imports": [
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_functions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_variables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_lists.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_breakpoints.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_container.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/vendor/_rfs.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_root.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_containers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/utilities/_api.scss"
      ]
    },
    {
      "path": "wp-content/themes/dhm-parent/src/sass/bootstrap/bootstrap-reboot.scss",
      "imports": [
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_functions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_variables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_mixins.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_root.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_reboot.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/vendor/_rfs.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_deprecate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_breakpoints.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_color-scheme.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_image.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_resize.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_reset-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_text-truncate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_backdrop.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_caret.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_lists.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_table-variants.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_border-radius.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_box-shadow.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_gradients.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_transition.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_container.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "wp-content/themes/dhm-parent/src/sass/bootstrap/bootstrap-utilities.scss",
      "imports": [
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_functions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_variables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_mixins.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_helpers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/utilities/_api.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/vendor/_rfs.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_deprecate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_breakpoints.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_color-scheme.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_image.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_resize.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_reset-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_text-truncate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_backdrop.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_caret.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_lists.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_table-variants.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_border-radius.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_box-shadow.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_gradients.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_transition.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_container.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_colored-links.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_ratio.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_position.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stacks.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stretched-link.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_text-truncation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_vr.scss"
      ]
    },
    {
      "path": "wp-content/themes/dhm-parent/src/sass/bootstrap/bootstrap.scss",
      "imports": [
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_functions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_variables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_mixins.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_root.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_reboot.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_type.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_images.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_containers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_tables.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_transitions.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_dropdown.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_button-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_nav.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_navbar.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_card.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_accordion.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_breadcrumb.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_badge.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_progress.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_close.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_toasts.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_modal.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_tooltip.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_popover.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_carousel.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_spinners.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_offcanvas.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_placeholders.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/_helpers.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/utilities/_api.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/vendor/_rfs.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_deprecate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_breakpoints.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_color-scheme.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_image.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_resize.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_reset-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_text-truncate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_backdrop.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_caret.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_lists.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_table-variants.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_border-radius.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_box-shadow.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_gradients.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_transition.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_container.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_grid.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-control.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-select.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-check.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-range.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_floating-labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_input-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_validation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_colored-links.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_ratio.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_position.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stacks.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stretched-link.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_text-truncation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_vr.scss"
      ]
    },
    {
      "path": "wp-content/themes/dhm-parent/src/sass/bootstrap/_forms.scss",
      "imports": [
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-control.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-select.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-check.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_form-range.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_floating-labels.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_input-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/forms/_validation.scss"
      ]
    },
    {
      "path": "wp-content/themes/dhm-parent/src/sass/bootstrap/_helpers.scss",
      "imports": [
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_colored-links.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_ratio.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_position.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stacks.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_stretched-link.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_text-truncation.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/helpers/_vr.scss"
      ]
    },
    {
      "path": "wp-content/themes/dhm-parent/src/sass/bootstrap/_mixins.scss",
      "imports": [
        "wp-content/themes/dhm-parent/src/sass/bootstrap/vendor/_rfs.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_deprecate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_breakpoints.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_color-scheme.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_image.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_resize.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_visually-hidden.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_reset-text.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_text-truncate.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_utilities.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_alert.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_backdrop.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_buttons.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_caret.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_pagination.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_lists.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_list-group.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_forms.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_table-variants.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_border-radius.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_box-shadow.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_gradients.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_transition.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_clearfix.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_container.scss",
        "wp-content/themes/dhm-parent/src/sass/bootstrap/mixins/_grid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"],\"autoCompile\":true,\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"typescript\",\"ts\"],\"replaceSegmentsWith\":\"js\",\"relative\":\"\"},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-typescript\":{\"enabled\":true}}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}